[user]
	name = Tomofumi Tanaka
	email = tanacasino@gmail.com

[color]
	ui = true

[alias]
	a = add
	f = fetch
	co = checkout
	ci = commit
	st = status -sb
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	sp = show --stat -p

[core]
	excludesfile = ~/.gitignore
	editor = vim
	autoCRLF = false
	pager = less -SRFX

[credential]
	helper = cache --timeout=3600

[gui]
	encoding = utf-8

[ghq]
	root = ~/devel/src

[include]
	path = ~/.gitconfig.local

