[user]
	name = Tomofumi Tanaka
	email = tanacasino@gmail.com

[color]
	ui = true

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	sp = show --stat -p

[core]
	excludesfile = ~/.gitignore
	editor = vim
	autoCRLF = false
	pager = less -SRFX

[gui]
	encoding = utf-8
