" .ideavimrc

" OSのクリップボードにyankする
set clipboard=unnamed,unnamedplus


" 表示
set number
set list


" 検索関連
set ignorecase
set hlsearch
set smartcase
set nowrapscan


" bell
set visualbell
set noerrorbells


"x キー削除でデフォルトレジスタに入れない
nnoremap x "_x
vnoremap x "_x


"インサートモードで bash 風キーマップが使える
inoremap <C-a> <C-o>^
inoremap <C-e> <C-o>$<Right>
inoremap <C-b> <Left>
inoremap <C-f> <Right>
inoremap <C-n> <Down>
inoremap <C-p> <Up>
inoremap <C-h> <BS>
inoremap <C-u> <C-o>d^
inoremap <C-w> <C-o>db


" turn off search highlight.
nmap <ESC><ESC> :nohlsearch<CR><ESC>


" IDE Action を呼び出す keymap
map Uf :action RecentFiles<CR>
map Ub :action RecentFiles<CR>
map Ur :action RenameElement<CR>

