" .ideavimrc

" OSのクリップボードにyankする
set clipboard


" 検索関連
set ignorecase
set hlsearch
set smartcase
set nowrapscan


"x キー削除でデフォルトレジスタに入れない
nnoremap x "_x
vnoremap x "_x

"vv で行末まで選択
vnoremap v ^$h


"インサートモードで bash 風キーマップ
inoremap <C-a> <C-o>^
inoremap <C-e> <C-o>$<Right>
inoremap <C-b> <Left>
inoremap <C-f> <Right>
inoremap <C-n> <Down>
inoremap <C-p> <Up>
inoremap <C-h> <BS>
inoremap <C-u> <C-o>d^
inoremap <C-w> <C-o>db

" turn off search highlight.
nmap <ESC><ESC> :nohlsearch<CR><ESC>

