"===================================
" key mappings.
"===================================
" pluginのキーマップは .vimrc.pluginに書く

" Exit Insert Mode.
"nmap <C-c> <ESC>
nmap <C-@> <ESC>
imap <C-@> <ESC>
cmap <C-@> <ESC>
vmap <C-@> <ESC>

" Move Windows.
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h

" Leader key
let mapleader=","

" turn off search highlight.
nmap <ESC><ESC> :nohlsearch<CR><ESC>
